{% extends "base.html" %} 

{% block content %}

<h1>De Gouden Koekenpan</h1>
<p class="lead">
    Ons pannenkoekrestaurant 'De Gouden Koekenpan' biedt een unieke culinaire ervaring in een gezellige en sfeervolle omgeving, ideaal voor een gezellig uitje met het hele gezin. <br>
    Gelegen te midden van de prachtige heide, is dit restaurant niet alleen een heerlijke plek om te eten, maar ook om te genieten van het uitzicht en de natuur.
</p>

<p>
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <img style="max-width: 100%; height: auto;" src="{{url_for('static', filename='Pannenkoekrestaurant.webp')}}">
        </div>
        <div class="col">
            <img style="max-width: 100%; height: auto;" src="{{url_for('static', filename='Pannenkoekrestaurant_interieur.webp')}}">
        </div>
    </div>
</div>
</p>

<p>
    In ons restaurant serveren we ambachtelijke pannenkoeken die met zorg zijn bereid met de beste, verse ingrediënten. <br>
    Of je nu houdt van een klassieke pannenkoek met stroop of juist een creatieve variant met hartige of zoete toppings, wij hebben voor ieder wat wils. <br>
    Naast de traditionele pannenkoeken bieden wij een gevarieerd menu met specialiteiten, waaronder pannenkoeken met seizoensgebonden ingrediënten en lokale smaken.
</p>
<p>
    Onze warme en gastvrije inrichting maakt het restaurant de perfecte plek voor een ontspannen lunch of diner. <br> 
    Het interieur is uitnodigend en gezellig, waardoor het een ideale locatie is voor gezinnen, stellen of groepen die samen willen genieten van een heerlijke maaltijd. <br>
    Voor de kinderen is er een speciaal kindermenu, zodat ook zij kunnen genieten van een smakelijke en leuke maaltijd.
</p>
<p>
    Daarnaast beschikken we over een ruime, zonnige terrastuin waar je in de zomer kunt genieten van je maaltijd in de buitenlucht, omringd door de natuur. <br>
    Of het nu regent of de zon schijnt, 'De Gouden Koekenpan' is altijd de perfecte plek om te genieten van een heerlijke maaltijd in een ontspannen sfeer.
</p>
<p>
    Kom langs en proef onze heerlijke pannenkoeken, die je nergens anders zult vinden. <br> 
    We verwelkomen je graag voor een gezellige eetervaring die je niet snel zult vergeten!
</p>

<p>
<table>
    <th>Openingstijden 'De Gouden Koekenpan'</th>
    <tr>
        <td>Maandag</td>
        <td>Gesloten</td>
    </tr>
    <tr>
        <td>Dinsag</td>
        <td>12.00 - 20.00</td>
    </tr>
    <tr>
        <td>Woensdag</td>
        <td>12.00 - 20.00</td>
    </tr>
    <tr>
        <td>Donderdag</td>
        <td>12.00 - 20.00</td>
    </tr>
    <tr>
        <td>Vrijdag</td>
        <td>12.00 - 22.00</td>
    </tr>
    <tr>
        <td>Zaterdag</td>
        <td>10.00 - 22.00</td>
    </tr>
    <tr>
        <td>Zondag</td>
        <td>10.00 - 20.00</td>
    </tr>
</table>
</p>

<h3>Reserveren? Bel: 012-3456789 of stuur een e-mail naar: reserveren@degoudenkoekenpan.nl</h3>
<br>

<p>
<button class="btn" type="button" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu">
    Klik hier voor ons menu
  </button>
</p>
<div class="collapse" id="collapseMenu">
  <div class="card card-body">
    <h2>Menukaart - De Gouden Koekenpan</h2>
    <br>
    <div>
        <p><h4>Onze Specials</h4></p>
        <p>
            Elke maand bieden we een seizoensgebonden special, zoals een pannenkoek met winterse specerijen of een zomerse fruitcombinatie. <br>
            Vraag naar de special van de maand!
        </p>
    </div>
    <div>
        <p><h4>Voorgerechten</h4></p>
        <p>
            <strong class="strong_menu">Tomatensoep met Basilicum</strong><br>
            Een frisse, zelfgemaakte tomatensoep met een vleugje basilicum en geserveerd met een stukje huisgemaakt knoflookbrood.
        </p>
        <p>
            <strong class="strong_menu">Bruschetta met Tomaat en Mozzarella</strong><br>
            Geroosterde broodjes belegd met een mengsel van tomaten, mozzarella, verse basilicum en een drizzle van balsamico. Een heerlijke Italiaanse klassieker.
        </p>
        <p>
            <strong class="strong_menu">Garnalen Cocktail</strong><br>
            Verse garnalen geserveerd met een romige cocktailsaus, sla en een schijfje citroen. Perfect als lichte start van je maaltijd.
        </p>
    </div>
    <div>
        <p><h4>Pannenkoeken – Zoet & Hartig</h4></p>
        <br>
        <p><h5>Zoete Pannenkoeken</h5></p>
        <br>
        <p>
            <strong class="strong_menu">Naturel Pannenkoek</strong><br>
            Pannenkoek met topping naar keuze. Keuze uit basterdsuiker, poedersuiker, stroop, honing en jam.
        </p>
        <p>
            <strong class="strong_menu">Appel Pannenkoek</strong><br>
            Klassieke pannenkoek met appel 
        </p>
        <p>
            <strong class="strong_menu">Klassieke Strooppannenkoek</strong><br>
            Fluffy pannenkoek met een royale hoeveelheid warme stroop en poedersuiker.
        </p>
        <p>
            <strong class="strong_menu">Appel-Kaneel Pannenkoekk</strong><br>
            Gevuld met warme appelcompote, kaneel en een beetje suiker, geserveerd met een bolletje vanille-ijs.
        </p>
        <p>
            <strong class="strong_menu">Chocolade-Fruit Pannenkoek</strong><br>
            Een heerlijke combinatie van gesmolten chocolade en vers fruit, zoals aardbeien, banaan en blauwe bessen.
        </p>
        <p>
            <strong class="strong_menu">Pannenkoek met Slagroom en Aardbeien</strong><br>
            Een zoete traktatie met verse aardbeien, slagroom en een beetje suiker voor de perfecte zoetigheid.
        </p>
        <p>
            <strong class="strong_menu">Pepernoten en Speculaas Pannenkoek</strong><br>
            Het hele jaar verkrijgbaar! Pannenkoek gebakken met speculaaskruiden en gevuld met pepernoten, geserveerd met een zachte vanillevla.
        </p>
        <br>
        <p><h5>Hartige Pannenkoeken</h5></p>
        <br>
        <p>
            <strong class="strong_menu">Kaas Pannenkoek </strong><br>
            Klassieke pannenkoek met kaas
        </p>
        <p>
            <strong class="strong_menu">Ham & Kaas Pannenkoek</strong><br>
            Klassieke pannenkoek met ham & kaas        </p>
        <p>
            <strong class="strong_menu">Spek Pannenkoek</strong><br>
            Klassieke pannenkoek met spek
        </p>
        <p>
            <strong class="strong_menu">Pannenkoek De Heidehof</strong><br>
            Een royale pannenkoek met spek, kaas, champignons en ui, afgemaakt met een frisse salade.
        </p>
        <p>
            <strong class="strong_menu">Vegetarische Pannenkoek</strong><br>
            Met gegrilde groenten, gesmolten kaas en een frisse balsamico dressing. Perfect voor de vegetariër!
        </p>
        <p>
            <strong class="strong_menu">Kip Pesto Pannenkoek</strong><br>
            Gevuld met sappige kip, pesto, tomaten en rucola. Een smaakvolle combinatie van Italiaans geïnspireerde ingrediënten.
        </p>
        <p>
            <strong class="strong_menu">Pannenkoek met Gerookte Zalm</strong><br>
            Gevuld met gerookte zalm, dille, roomkaas en een beetje citroen voor een frisse, verfijnde smaak.
        </p>
        <p>
            <strong class="strong_menu">Pannenkoek Boerenkost</strong><br>
            Gevuld met gebakken spek, een ei, aardappelen en een beetje ui. Het perfecte comfortfood voor de echte liefhebber van hartige gerechten.
        </p>
    </div>
    <div>
        <p><h4>Specialiteiten</h4></p>
        <p>
            <strong class="strong_menu">Pannenkoek De Heidehof Deluxe</strong><br>
            Onze specialiteit! Een combinatie van gegrilde kip, gerookte bacon, verse tomaat, kaas en een frisse salade.
        </p>
        <p>
            <strong class="strong_menu">Pannenkoek met Geitenkaas en Honing</strong><br>
            Een unieke combinatie van romige geitenkaas, honing en walnoten voor een verfijnde smaakervaring.
        </p>
    </div>
    <div>
        <p><h4>Kinderpannenkoeken</h4></p>
        <p>
            <strong class="strong_menu">Mini Stroop Pannenkoek</strong><br>
            Kleine pannenkoek met stroop en poedersuiker, ideaal voor de kleintjes.
        </p>
        <p>
            <strong class="strong_menu">Pannenkoek met Nutella en Banaan</strong><br>
            Een zoete pannenkoek met Nutella, vers gesneden banaan en een beetje poedersuiker.
        </p>
        <p>
            <strong class="strong_menu">Kaas & Ham Pannenkoek</strong><br>
            Een kleine pannenkoek met ham en kaas, ideaal voor jonge fijnproevers.
        </p>
    </div>
    <div>
        <p><h4>Bijgerechten</h4></p>
        <p>
            Verse Seizoensgroenten <br>
            Patat met mayonaise <br>
            Frisse Salade <br>
            Appelcompote
        </p>
    </div>
    <div>
        <p><h4>Desserts</h4></p>
        <p>
            <strong class="strong_menu">Warme Appeltaart</strong><br>
            Zelfgebakken appeltaart geserveerd met een bolletje vanille-ijs.
        </p>
        <p>
            <strong class="strong_menu">Chocolade Lava Cake</strong><br>
            Een rijke chocoladecake met een vloeibaar chocoladehart, geserveerd met slagroom en/of een bolletje vanille-ijs.
        </p>
        <p>
            <strong class="strong_menu">Panna Cotta met Bosvruchten</strong><br>
            Romige panna cotta met een frisse bosvruchtencompote.
        </p>
        <p>
            <strong class="strong_menu">(Kinder)ijsje</strong><br>
            3 bolletjes schepijs met topping naar keuze. Vraag naar de beschikbare smaken. 
        </p>
    </div>
    <div>
        <p><h4>Dranken</h4></p>
        <p>
            Koffie & Thee <br>
            Verse Jus d'Orange <br>
            Diverse Frisdranken <br>
            Diverse Vruchtensappen <br>
            Limonade <br>
            Chocolademelk <br>
            Fristi <br>
            Speciaal Bieren <br>
            Wijnen <br>
        </p>
    </div>
  </div>
</div>

{% endblock %}


















